
// COLORS
$color__font-primary: #000;
$color__font-secondary: #BBBBBB;
$color__font-link: #5684FB;
$color__background-primary: #F1F3F7;
$color__orange: #FB6B56;
$color__error: #FF3B30;
$color__error-light: rgba(255, 59, 48, 0.05);;
$color__light-green: #F1FEF2;
$color__gray: #777777;

// Z INDEXED
$z_header: 100;
$z_modal: 110;

// BORDER RADIUS
$border-radius__big: 24px;
$border-radius__middle: 12px;
$border-radius__little: 8px;

// FONT SIZE
$fs__big: 24px;
$fs__middle: 20px;
$fs__default: 16px;
$fs__mini: 12px;

// BREAK POINT (FOR MEDIA QUIRES)
$break-point__mobile: 600px;
$break-point__header: 870px;
$max-width: 1256px;



$white: #fff;
$black: #000;
$bg-black: #111111;
$silver: #999999;
$light-gray: #f9f9f9;
$dark-gray: #333333;
$medium-gray: #BBBBBB;
$dark-gray: #777777;
$orange: #FB6B56;
$blue: #5684FB;
$light-blue: rgba(86, 132, 251, 0.08);
